>## Results of 3D

In [1]:
import pandas as pd
import os
import numpy as np

In [115]:
directory ="./3D/results/" 
files = os.listdir(directory)
df_total =[]
print(files)
df = None
for i,item in enumerate(files):
    temp =df
    df= pd.read_json(directory+item)
    df = pd.concat([temp,df],ignore_index=True)

['tcp_results_withoutNagle_OnlyOnClient.json', 'tcp_results_withoutNagle_OnlyOnServer.json', 'tcp_results_without_delayedAck_OnBoth.json', 'tcp_results_with_Nagle.json']

In [116]:
three_D['Nagle']=['Disabled only on Client','Disabled only on Server','Disabled on Both','Enabled on Both']
three_D =three_D.sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)
three_D.drop(['Size_of_the_file_created','Original Size'],1)

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Throughput,Word_Count,Nagle
0,les_miserables_victor_hugo,TCP,12410,32,296.752178,12133.899151,569408,Disabled only on Client
1,les_miserables_victor_hugo,TCP,14949,32,295.924002,12167.857208,569408,Disabled only on Server
2,les_miserables_victor_hugo,TCP,12695,32,286.625585,12562.594526,569408,Enabled on Both
3,les_miserables_victor_hugo,TCP,14015,32,276.645680,13015.786093,569408,Disabled on Both

> ## Results of 3E

In [110]:
directory ="./3E/results/" 
files = os.listdir(directory)
df_total =[]
df = None
print(files)
for i,item in enumerate(files):
    temp =df
    df= pd.read_json(directory+item)
    df = pd.concat([temp,df],ignore_index=True)
three_E = df

['tcp_results_without_delayedAck_OnBoth.json', 'tcp_results_without_delayedAck_OnlyOnClient.json', 'tcp_results_without_delayedAck_OnlyOnServer.json', 'tcp_results_with_delayedAck.json']

In [127]:
three_E['Delayed Ack']=['Disabled on Both','Disabled only on Client','Disabled only on Server','Enabled on Both']
three_E=three_E.sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)
three_E.drop(['Size_of_the_file_created','Original Size'],1)

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Throughput,Word_Count,Delayed Ack
0,les_miserables_victor_hugo,TCP,8843,32,297.441493,12105.779077,569408,Disabled only on Client
1,les_miserables_victor_hugo,TCP,10390,32,293.612989,12263.629807,569408,Disabled on Both
2,les_miserables_victor_hugo,TCP,8560,32,290.174750,12408.939792,569408,Enabled on Both
3,les_miserables_victor_hugo,TCP,9888,32,266.980675,13486.972444,569408,Disabled only on Server

> ## Results of 3F

In [83]:
directory ="./3F/results/" 
files = os.listdir(directory)
df_total =[]
df = None
print(files)
for i,item in enumerate(files):
    temp =df
    df= pd.read_json(directory+item)
    df = pd.concat([temp,df],ignore_index=True)
three_F = df

['tcp_results.json', 'tcp_results_without_delayedAck_withoutNagle_OnBoth.json', 'tcp_results_without_delayedAck_withoutNagle_OnlyOnClient.json', 'tcp_results_without_delayedAck_withoutNagle_OnlyOnServer.json']

In [118]:
three_F['Nagle and Delayed Ack']=['Enabled on Both','Disabled on both','Disabled on Client','Disabled on Server']
three_F =three_F.sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)
three_F.drop(['Size_of_the_file_created','Original Size'],1)

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Throughput,Word_Count,Nagle and Delayed Ack
0,les_miserables_victor_hugo,TCP,19356,32,292.496484,12310.442003,569408,Enabled on Both
1,les_miserables_victor_hugo,TCP,20457,32,291.396158,12356.926821,569408,Disabled on Server
2,les_miserables_victor_hugo,TCP,19663,32,290.988906,12374.220896,569408,Disabled on Client
3,les_miserables_victor_hugo,TCP,20906,32,289.390486,12442.568689,569408,Disabled on both

> ## Results of 3G part

In [119]:
directory ="./3G/3G_D/results/" 
files = os.listdir(directory)
df_total =[]
df = None
print(files)
for i,item in enumerate(files):
    temp =df
    df= pd.read_json(directory+item)
    df = pd.concat([temp,df],ignore_index=True)
three_G_D = df

['tcp_results_withoutNagle_OnlyOnClient.json', 'tcp_results_withoutNagle_OnlyOnServer.json', 'tcp_results_without_delayedAck_OnBoth.json', 'tcp_results_with_Nagle.json']

In [128]:
three_G_D['Nagle']=['Disabled only on Client','Disabled only on Server','Disabled on Both','Enabled on Both']
three_G_D=three_G_D.sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)
three_G_D.drop(['Size_of_the_file_created','Original Size'],1)

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Throughput,Word_Count,Nagle
0,les_miserables_victor_hugo,TCP,22210,65536,0.730155,4.931501e+06,569408,Disabled on Both
1,les_miserables_victor_hugo,TCP,22179,65536,0.627564,5.737680e+06,569408,Disabled only on Server
2,les_miserables_victor_hugo,TCP,22030,65536,0.510500,7.053398e+06,569408,Enabled on Both
3,les_miserables_victor_hugo,TCP,22057,65536,0.448986,8.019766e+06,569408,Disabled only on Client

In [121]:
directory ="./3G/3G_E/results/" 
files = os.listdir(directory)
df_total =[]
df = None
print(files)
for i,item in enumerate(files):
    temp =df
    df= pd.read_json(directory+item)
    df = pd.concat([temp,df],ignore_index=True)
three_G_E = df

['tcp_results_without_delayedAck_OnBoth.json', 'tcp_results_without_delayedAck_OnlyOnClient.json', 'tcp_results_without_delayedAck_OnlyOnServer.json', 'tcp_results_with_delayedAck.json']

In [125]:
three_G_E['Delayed Ack']=['Disabled on Both','Disabled only on Client','Disabled only on Server','Enabled on Both']
three_G_E=three_G_E.sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)
three_G_E.drop(['Size_of_the_file_created','Original Size'],1)

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Throughput,Word_Count,Delayed Ack
0,les_miserables_victor_hugo,TCP,23193,65536,0.602188,5.979464e+06,569408,Disabled on Both
1,les_miserables_victor_hugo,TCP,23106,65536,0.585263,6.152376e+06,569408,Enabled on Both
2,les_miserables_victor_hugo,TCP,23167,65536,0.514671,6.996244e+06,569408,Disabled only on Server
3,les_miserables_victor_hugo,TCP,23135,65536,0.468687,7.682651e+06,569408,Disabled only on Client

In [102]:
directory ="./3G/3G_F/results/" 
files = os.listdir(directory)
df_total =[]
df = None
print(files)
for i,item in enumerate(files):
    temp =df
    df= pd.read_json(directory+item)
    df = pd.concat([temp,df],ignore_index=True)
three_G_F = df

['tcp_results.json', 'tcp_results_without_delayedAck_withoutNagle_OnBoth.json', 'tcp_results_without_delayedAck_withoutNagle_OnlyOnClient.json', 'tcp_results_without_delayedAck_withoutNagle_OnlyOnServer.json']

In [126]:

three_G_F['Nagle and Delayed Ack']=['Enabled on Both','Disabled on both','Disabled on Client','Disabled on Server']
three_G_F =three_G_F.sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)
three_G_F.drop(['Size_of_the_file_created','Original Size'],1)

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Throughput,Word_Count,Nagle and Delayed Ack
0,les_miserables_victor_hugo,TCP,24530,65536,0.633880,5.680510e+06,569408,Disabled on Server
1,les_miserables_victor_hugo,TCP,24559,65536,0.524704,6.862459e+06,569408,Disabled on both
2,les_miserables_victor_hugo,TCP,24146,65536,0.515764,6.981419e+06,569408,Disabled on Client
3,les_miserables_victor_hugo,TCP,24119,65536,0.472421,7.621938e+06,569408,Enabled on Both

>## Results of 4A

In [5]:
directory ="./4AB/results/" 
files = os.listdir(directory)
df_total =[]

files.pop(0)
files.pop(3)
print(files)
df = None
for i,item in enumerate(files):
    temp =df
    df= pd.read_json(directory+item)
    df = pd.concat([temp,df],ignore_index=True)

ValueError: list.remove(x): x not in list

In [4]:
df

,Client IP_address,Client Port,Server IP,Server port,Protocol,Book_Name,PID,Buffer_Size,Total_Time_Taken,Throughput,Word_Count,Original Size,Size_of_the_file_created
0,127.0.0.1,36900.0,127.0.1.1,12346.0,TCP,war_and_peace,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,127.0.0.1,56864.0,127.0.1.1,12347.0,TCP,les_miserables_victor_hugo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,127.0.0.1,52112.0,127.0.1.1,12348.0,TCP,les_miserables_victor_hugo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,127.0.0.1,55942.0,127.0.1.1,12349.0,TCP,war_and_peace,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,TCP,war_and_peace,113903.0,1024.0,18.742552,179249.013140,566317.0,NaN,NaN
5,NaN,NaN,NaN,NaN,TCP,les_miserables_victor_hugo,113996.0,32.0,19.107596,176357.874324,568727.0,NaN,NaN
6,NaN,NaN,NaN,NaN,TCP,war_and_peace,114000.0,32.0,19.024048,176596.694043,566317.0,NaN,NaN
7,NaN,NaN,NaN,NaN,TCP,les_miserables_victor_hugo,113956.0,1024.0,18.803545,179209.563185,568727.0,NaN,NaN
8,127.0.0.1,50867.0,127.0.1.1,12346.0,UDP,war_and_peace,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,127.0.0.1,50527.0,127.0.1.1,12347.0,UDP,les_miserables_victor_hugo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,127.0.0.1,45824.0,127.0.1.1,12348.0,UDP,les_miserables_victor_hugo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,127.0.0.1,33864.0,127.0.1.1,12349.0,UDP,war_and_peace,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,UDP,les_miserables_victor_hugo,109426.0,1024.0,1.179113,185875.366328,37444.0,3369775.0,219168.0
13,NaN,NaN,NaN,NaN,UDP,les_miserables_victor_hugo,109496.0,32.0,1.135867,37624.119311,6196.0,3369775.0,42736.0
14,NaN,NaN,NaN,NaN,UDP,war_and_peace,109501.0,32.0,1.162599,37177.046234,6223.0,3359584.0,43222.0
15,NaN,NaN,NaN,NaN,UDP,war_and_peace,109396.0,1024.0,1.167150,216780.142955,42958.0,3359584.0,253015.0