In [15]:
import pandas as pd

df1=pd.read_json('tcp_results.json')
df2=pd.read_json('udp_results.json')
result =pd.concat([df1,df2],ignore_index=True)

In [5]:
result.sort_values(by=['Original Size'],ascending=False,ignore_index=True)

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Original Size,Size_of_the_file_created,Throughput
0,les_miserables_victor_hugo,TCP,394940,1024,12.084607,3369775,3305477,2.735279e+05
1,les_miserables_victor_hugo,UDP,393967,1024,0.185182,3369775,256242,1.383733e+06
2,les_miserables_victor_hugo,TCP,394470,32,279.657433,3369775,3305477,1.181974e+04
3,les_miserables_victor_hugo,UDP,393998,65536,0.171410,3369775,351010,2.047779e+06
4,les_miserables_victor_hugo,TCP,394983,32768,0.568751,3369775,3305477,5.811814e+06
5,les_miserables_victor_hugo,UDP,393955,32,0.165617,3369775,35974,2.172123e+05
6,les_miserables_victor_hugo,UDP,393984,32768,0.176988,3369775,453367,2.561564e+06
7,les_miserables_victor_hugo,TCP,394997,65536,0.358388,3369775,3305477,9.223187e+06
8,war_and_peace,UDP,393988,32768,0.180799,3359584,438533,2.425534e+06
9,war_and_peace,TCP,394952,1024,11.804929,3359584,3302989,2.797974e+05
10,war_and_peace,UDP,394002,65536,0.199025,3359584,354865,1.783020e+06
11,war_and_peace,UDP,393972,1024,0.189208,3359584,253902,1.341920e+06
12,war_and_peace,TCP,395001,65536,0.370267,3359584,3302989,8.920562e+06
13,war_and_peace,TCP,394728,32,275.492876,3359584,3302989,1.198938e+04
14,war_and_peace,UDP,393959,32,0.150794,3359584,21183,1.404768e+05
15,war_and_peace,TCP,394987,32768,0.559384,3359584,3302989,5.904691e+06
16,don_quixote,UDP,393965,1024,0.143663,2390853,177165,1.233197e+06
17,don_quixote,TCP,394995,65536,0.281230,2390853,2354367,8.371672e+06
18,don_quixote,UDP,393982,32768,0.168129,2390853,402662,2.394956e+06
19,don_quixote,TCP,394981,32768,0.362453,2390853,2354367,6.495652e+06
20,don_quixote,TCP,394937,1024,5.936801,2390853,2354367,3.965717e+05
21,don_quixote,UDP,393995,65536,0.162150,2390853,307800,1.898241e+06
22,don_quixote,TCP,394320,32,139.425275,2390853,2354367,1.688623e+04
23,don_quixote,UDP,393953,32,0.126889,2390853,19606,1.545133e+05
24,anna_kareina,UDP,393974,32768,0.152204,2068079,311900,2.049223e+06
25,anna_kareina,UDP,393990,65536,0.155829,2068079,228635,1.467213e+06
26,anna_kareina,UDP,393961,1024,0.189452,2068079,239643,1.264929e+06
27,anna_kareina,TCP,394145,32,99.764107,2068079,2033655,2.038464e+04
28,anna_kareina,UDP,393947,32,0.128536,2068079,26775,2.083070e+05
29,anna_kareina,TCP,394929,1024,4.309790,2068079,2033655,4.718687e+05
30,anna_kareina,TCP,394976,32768,0.306559,2068079,2033655,6.633821e+06
31,anna_kareina,TCP,394991,65536,0.225582,2068079,2033655,9.015133e+06
32,bleak_house,UDP,393976,32768,0.117623,2001199,53415,4.541191e+05
33,bleak_house,UDP,393992,65536,0.130455,2001199,214645,1.645350e+06
34,bleak_house,TCP,394932,1024,4.323037,2001199,1966716,4.549385e+05
35,bleak_house,UDP,393950,32,0.113560,2001199,10478,9.226844e+04
36,bleak_house,TCP,394978,32768,0.310386,2001199,1966716,6.336357e+06
37,bleak_house,TCP,394993,65536,0.235723,2001199,1966716,8.343318e+06
38,bleak_house,UDP,393963,1024,0.123766,2001199,145473,1.175388e+06
39,bleak_house,TCP,394197,32,98.456245,2001199,1966716,1.997553e+04
40,middlemarch,TCP,394985,32768,0.283397,1865985,1837592,6.484157e+06
41,middlemarch,UDP,393970,1024,0.164545,1865985,197475,1.200125e+06
42,middlemarch,UDP,393986,32768,0.158086,1865985,328445,2.077631e+06
43,middlemarch,TCP,394949,1024,3.517075,1865985,1837592,5.224773e+05
44,middlemarch,TCP,394999,65536,0.232337,1865985,1837592,7.909166e+06
45,middlemarch,TCP,394674,32,83.207396,1865985,1837592,2.208448e+04
46,middlemarch,UDP,394000,65536,0.155701,1865985,271056,1.740876e+06
47,middlemarch,UDP,393957,32,0.137331,1865985,27457,1.999323e+05

In [6]:
result[result['Book_Name']=='les_miserables_victor_hugo'].sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Original Size,Size_of_the_file_created,Throughput
0,les_miserables_victor_hugo,TCP,394470,32,279.657433,3369775,3305477,1.181974e+04
1,les_miserables_victor_hugo,TCP,394940,1024,12.084607,3369775,3305477,2.735279e+05
2,les_miserables_victor_hugo,TCP,394983,32768,0.568751,3369775,3305477,5.811814e+06
3,les_miserables_victor_hugo,TCP,394997,65536,0.358388,3369775,3305477,9.223187e+06
4,les_miserables_victor_hugo,UDP,393967,1024,0.185182,3369775,256242,1.383733e+06
5,les_miserables_victor_hugo,UDP,393984,32768,0.176988,3369775,453367,2.561564e+06
6,les_miserables_victor_hugo,UDP,393998,65536,0.171410,3369775,351010,2.047779e+06
7,les_miserables_victor_hugo,UDP,393955,32,0.165617,3369775,35974,2.172123e+05

In [20]:
import pandas as pd

df1=pd.read_json('tcp_results.json')
df2=pd.read_json('udp_results_new.json')
result =pd.concat([df1,df2],ignore_index=True)

In [16]:
result_a=result[result['Book_Name']=='les_miserables_victor_hugo'].sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)
result_a['Loss']=result_a['Original Size'] - result_a['Size_of_the_file_created']

In [19]:
result_a[result_a['Protocol']=="UDP"]

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Original Size,Size_of_the_file_created,Throughput,Loss
4,les_miserables_victor_hugo,UDP,393967,1024,0.185182,3369775,256242,1.383733e+06,3113533
5,les_miserables_victor_hugo,UDP,393984,32768,0.176988,3369775,453367,2.561564e+06,2916408
6,les_miserables_victor_hugo,UDP,393998,65536,0.171410,3369775,351010,2.047779e+06,3018765
7,les_miserables_victor_hugo,UDP,393955,32,0.165617,3369775,35974,2.172123e+05,3333801

In [21]:
result_b=result[result['Book_Name']=='les_miserables_victor_hugo'].sort_values(by=['Total_Time_Taken'],ascending=False,ignore_index=True)
result_b['Loss']=result_b['Original Size'] - result_b['Size_of_the_file_created']

In [28]:
result_b[result_b['Protocol']=='UDP']

,Book_Name,Protocol,PID,Buffer_Size,Total_Time_Taken,Original Size,Size_of_the_file_created,Throughput,Loss
2,les_miserables_victor_hugo,UDP,398613,1024,0.713253,3369775,272720,382361.061506,3097055
3,les_miserables_victor_hugo,UDP,398627,32768,0.696025,3369775,273271,392616.838395,3096504
4,les_miserables_victor_hugo,UDP,398594,32,0.680291,3369775,177249,260548.818526,3192526
6,les_miserables_victor_hugo,UDP,398641,65536,0.566689,3369775,252143,444940.313670,3117632